certifi==2019.3.9
Click==7.0
enum34==1.1.6
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pipenv==2018.11.26
pycurl==7.43.0
typing==3.6.6
unity-lens-photos==1.0
vboxapi==1.0
virtualenv==16.5.0
virtualenv-clone==0.5.3
Werkzeug==0.15.2
