/*
blue : #007bff;
fondo_blanco :  #F8FFFD;
*/

body {
	background: #373B44;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Cinzel', monospace;
}

.collapse_personal:hover{
	background-color: #007bff;
	color: white;
}

.collapse_personal:hover > .fa-address-book{
	background-color:  #F8FFFD;
	color: #007bff;
}

.class_a_href {
	pointer-events: none;
	cursor: default;
}

.tablero{
	background: #F8FFFD;
	border-radius: 3%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 10px;
	width: 100%;
}

.tablero p span{
	font-weight: bold;
	text-decoration: underline;
}

.tablero ul li{
	list-style-type: square;
}

.avatar {
	line-height: 0;
	display: inline-block;
	margin: 5px;
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
	-webkit-transition: linear 0.25s; /* SAFARI */
  -moz-transition: linear 0.25s; /* FireFOX*/
  -o-transition: linear 0.25s; /* Opera*/

	display: flex;
 	justify-content: center;

}

.avatar img{
	height: 125px;
  width: 125px;
	border-radius: 50%;
}

.avatar img:hover{
	filter: saturate(180%);
}
.nombre	{
	color: black;
	font-size: xx-large;
	background-color: transparent;
	margin: 0 auto;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 10px;
}

.centrar{
  display: flex;
  justify-content: center;
}

.sidebar{
	float: right;
	position: relative;
}

.fixed{
	position: fixed;
}

.download{
	display: inline-block;
}

.nombre_referencia{
	font-weight: bold;
}

.cuadro_referencia{
	background-color: white;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
	width: 75%;
	text-align: center;
	font-weight: bold;
}

hr{
	border-color: blue;
	width:75%;
}

.datos_personales li{
	list-style-type: square;
}

.datos_personales li span{
	font-weight: bold;
	text-decoration: underline;
}

.presentacion{
		display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
		text-align: justify;
}

.presentacion hr{
	border: 0 ;
	border-top: 4px double blue;
	width: 90%;
}

.subtitulo{
	padding: 10px;
	background-color: #F8FFFD;
	border-radius: 3%;
}
.subtitulo h4{
	margin-top: 10px;
	font-style: normal;
}

h4::before{
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	color : #007bff;
	content: " \f36 ";
}

.subtitulo hr{
	width: 100%;
}

.subtitulo li{
	list-style-type: square;
	font-weight: bold;
}

.item_li{
	font-weight: normal;
	margin: 0 auto;
	display: block;
	text-align: inherit;
	margin-right: 15%;
	padding-top: 1%;
}

.item_li::before {
	content: "»";
	color: #007bff;
}
.item_li::after {
	content: ".";
	color: #007bff;
}
.item_li:hover::before {
	color: white;
	background-color: #007bff;
	border-radius: 80%;
}


.item_li_2n{
	margin-left: 11%;
}

.item_li_2n li{
	font-weight: normal;
}

.item_li_2n li::after{
	content: ".";
	color: blue;
}

.organizador{
		display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	padding-right: 6%;
}

.collapse_personal{
	text-decoration: none;
	color: #007bff;
}

.collapse_personal:visited{
	text-decoration: none;
	color: #007bff;
}

.progress{
 border: 1px solid black;
 border-radius: 4px;
 width: 70%;

 transition: 0.1s ease-in-out;
 -webkit-transition: 0.1s ease-in-out; /* SAFARI */
 -moz-transition: 0.1s ease-in-out; /* FireFOX*/
 -o-transition: 0.1s ease-in-out; /* Opera*/

}

.progress-bar{
  height: 16px;
  display: block;
  border-radius: 4px;




  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);

	background-color: green;
	color: #6f42c1;

	transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}

.progress-bar:hover{
	background-color: #007bff;
}

.progress:hover{
	font-weight: bold;
}

.w-70{
	width: 70%;
}

.w-80{
	width: 80%;
}

nav{
	background-color: #F8FFFD;
	padding: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	border-bottom: 1px solid black;
	-webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	height: 60px;
}

.main{
	margin-top: 65px;
}

nav #submenu i{
	padding-left: 10px;
}
nav ul{
	list-style: none;
	margin: 0 auto;
}

nav ul li{
	display: inline-block;
	position: relative;
}

nav ul li:hover{
	background-color: #007bff;
}

nav ul li:hover > a {
	color: white;
}

nav ul .nohover:hover > a {
	background-color: #F8FFFD;
	color: black;
}

nav ul li a{
	display: block;
	text-decoration: none;
	padding: 15px 15px 0px 15px;
	color: black;
	/* text-shadow: 0.3px 1px 0.3px 1px  */
	text-shadow: 1px 1px 0.8px #007bff;
}

ul .children{
	padding: 0;
}

nav ul li .children{
	display: none;
	border: 1px solid black;
	z-index: 3;
}

nav ul li:hover .children{
	display: block;
	background-color: #F8FFFD;
	position: absolute;
}

nav ul li .children li{
	border-bottom: 1px solid rgba(0,0,0,.5);
 	width: 100%;
}

/*  FOOTER */

.breadcrumb{
	margin-top: 16px;
	margin-bottom: 0;
	border-radius: 0;


	background-color: #F8FFFD;

	border-top: 1px solid black;
	-webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);

	text-shadow: 1px 1px 0.8px #007bff;
}

footer img {
	width: 40px;
	height: 20px;
}

.rebotelr{
	-webkit-animation: 1s rebotelr 1;
}

@-webkit-keyframes rebotelr{
	0%{
		opacity: 0;
		-webkit-transform:translateX(-2000px);
	}
	20%{
		opacity: 1;
	}
	50%{
		opacity: 0;
		-webkit-transform:translateX(30px);
	}
	70%{
		-webkit-transform:translateX(-10px);
	}
}
