{% extends "layout.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-5">
			<div class="tablero">
				<div class="datos_personales">
					<div class="avatar">
					 <img src="https://media.licdn.com/dms/image/C4D03AQEmW9nVy-1AyQ/profile-displayphoto-shrink_200_200/0?e=1562803200&v=beta&t=OX7YZYhXcx7IBirEGKj5kuFVzS4PmlwXZTlau9JJc9A">
					</div>
					<h1 class="nombre">Sixto Felipe Guerra Urbina.
					</h1>
					<small>Web Developer Junior</small>
					<hr>
					<ul>
						<li>
							<p>
								<span>Edad:</span>
								36 Años.
							</p>
						</li>
						<li>
							<p>
								<span>Nacionalidad:</span>
								chilena.
							</p>
						</li>
						<li>
							<p>
								<span>Teléfono:</span>
								+56 9 36 72 9710
							</p>
						</li>
						<li>
							<p>
								<span>E-mail:</span>
								sixto.guerra1982@gmail.com
							</p>
						</li>
						<li>
							<p>
								<span>Otros:</span>
								Licencia de conducir clase B.
							</p>
						</li>
					</ul>
				</div>
				<hr>
				<div class="datos_personales">
					<ul>
						<li>
							<p>
								<span>Referencias:</span>
								<p class="nombre_referencia
								">Sr. Ayaxs Fuentealba</p>
								<p class="etiqueta">
									<a class="collapse_personal" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-address-book fa-2x"></i>&nbsp;Jefe de Informática CAMS</a>
									</p>
									<div class="cuadro_referencia collapse" id="collapseExample">
										<p>Yksa S.p.A.</p>
										<p>+56 9 91 73 5051</p>
										<p>afuentealba@syfcams.cl</p>
									</div>
							</p>
						</li>
					</ul>
					<hr>
					<ul>
						<li>
							<p>
								<span>Referencias:</span>
								<p class="nombre_referencia">Sr. Ignacio Muñoz</p>
								<p>
									<a class="collapse_personal" data-toggle="collapse" href="#collapseExample2" role="button">
									<i class="fas fa-address-book fa-2x"></i>&nbsp;Subgerente Informática</a>
								</p>
								<div class="cuadro_referencia collapse" id="collapseExample2">
									<p>Soser S.A.</p>
									<p>+56 9 74 98 9952</p>
									<p>ignacio.munoz@soser.cl</p>
								</div>
							</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="tablero">
				<ul>
					<li>
						<p>
							<span>Skills:</span>
						</p>
					</li>

						<div><i class="fas fa-list-ol"></i>&nbsp;HTML5<div class="progress">100%<div class="progress-bar w-100"></div></div></div>
						<div><i class="fas fa-list-ol"></i>&nbsp;CSS3<div class="progress">75%<div class="progress-bar w-75"></div></div></div>
						<div><i class="fas fa-list-ol"></i>&nbsp;Bootstrap<div class="progress">75%<div class="progress-bar w-75"></div></div></div>
						<div><i class="fas fa-list-ol"></i>&nbsp;JavaScript<div class="progress">70%<div class="progress-bar w-70"></div></div></div>
						<div><i class="fas fa-list-ol"></i>&nbsp;Ruby & Rails<div class="progress">80%<div class="progress-bar w-80"></div></div></div>


				</ul>
			</div>

		</div>

		<div class="col-md-7">
			<div class="tablero">
				<h2 class="nombre">Analista de Sistemas.</h2>
				<div class="presentacion">
					&nbsp;&nbsp;&nbsp;_Me he desempeñado en el área de desarrollo de software, soporte informático, helpdesk y administrador de equipos informáticos en general, con experiencia superior a 10 años en el mercado informático,desarrollando, implementando, coordinando y administrando sistemas computacionales y operaciones que involucran cambios y adaptación de procesos. Con la experiencia he incrementado cualidades y competencias importantes que se necesitan para el cargo tales como: Planificación, auto-administración, liderazgo, control.
				</div>
				<hr style="border: 0 ; border-top: 4px double blue; width: 90%;">
				<div class="organizador">
					<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
					  <div class="btn-group mr-2" role="group" aria-label="First group">
					    <div type="button" class="btn btn-primary" onclick="MyChangeElement(1)" id="boton1">1</div>
					    <div type="button" class="btn btn-secondary" onclick="MyChangeElement(2)" id="boton2">2</div>
					    <div type="button" class="btn btn-secondary" onclick="MyChangeElement(3)" id="boton3">3</div>
					  </div>
					 </div>
				</div>
				<div id="seccion1">
					<div class="subtitulo">
						<h4>Formación académica</h4>
						<ul>
							<li>
								2004-2006 Instituto de Formación Técnica Jhon F Kennedy
								<p><span class="item_li">Titulado de “Análisis de Sistemas”</span></p>
							</li>
							<li>
								1997-2000 Colegio Politécnico N°1 de Maipú.
								<p><span class="item_li">Especialidad “Programación en Computación”</span></p>
							</li>
						</ul>
					</div>
					<div class="subtitulo">
						<h4>Experiencia Profesional</h4>
						<ul>
							<li>
								Abril 2018 – Febrero 2019 Cams Software y Finanzas S.A.:
								<span class="item_li">Desarrollo de aplicaciones de escritorio para mesa de dinero Banco BCI</span>
								<span class="item_li">Visual Basic 6.0</span>
								<span class="item_li">Visual Studio 2012</span>
								<span class="item_li">Macros Excel</span>
								<span class="item_li">SQL</span>
								<span class="item_li">Microsoft Access</span>
								<span class="item_li">Sybase</span>
							</li>
							<br>
							<li>
								Mayo 2015- Abril 2018 Sociedad de Servicios de Alimentación S.A.:
								<span class="item_li">Mantención y configuración de infraestructura informática en general</span>
								<span class="item_li">Control de Inventario TI</span>
								<span class="item_li">HelpDesk</span>
								<span class="item_li">Respaldo de información crítica</span>
								<span class="item_li">Modificación a Software de Planificación y Control</span>
								<div class="item_li_2n">
									<ol>
										<li>Visual Studio 2012</li>
										<li>Microsoft SQL Server</li>
									</ol>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div id="seccion2">
					<div class="subtitulo">
						<h4>Experiencia Profesional</h4>
						<ul>
							<li>
								Noviembre 2014 – Marzo 2015, Anida Consultores S.A.:
								<span class="item_li">Analista de Monitoreo</span>
								<span class="item_li">Gestión de información proyecto provisión de nodos para Entel</span>
								<span class="item_li">Pruebas de Conectividad.</span>
								<span class="item_li">Provisión de nodos en herramientas NNM 7.5 Y 9i.</span>
							</li>
							<br>
							<li>
								Mayo 2007 – Mayo 2014, Intertek Labs & Testing Chile SPA.:
								<span class="item_li">IT HelpDesk</span>
								<span class="item_li">Mantención de Red, Software, Hardware, equipos informáticos en general</span>
								<span class="item_li">Respaldo de Información</span>
								<span class="item_li">Registro de Equipos</span>
								<span class="item_li">Programación en Visual Basic 6.0</span>
								<span class="item_li">Desde Febrero 2008 a Diciembre 2011 encargado Dpto. RRHH</span>
							</li>
							<br>
							<li>
								Febrero 2005 – Enero 2007, La Habana Vieja.:
								<span class="item_li">Desarrollo y ejecución de sistemas de control</span>
								<span class="item_li">Mantención de Equipos computacionales</span>
							</li>
							<br>
							<li>
								Marzo 2001 – Diciembre 2004, Electronic Desing.:
								<span class="item_li">Desarrollo y Programación de sistemas en lenguaje Visual Basic 6.0 con motor de base de datos Access 97, Access 2000, Microsoft SQL Server, My SQL</span>
								<span class="item_li">Desarrollo y mantención de redes computacionales</span>
								<span class="item_li">Armado y mantención de computadores</span>
								<span class="item_li">Manejo y Configuración de Sistemas Operativos</span>
							</li>
						</ul>
					</div>
				</div>

				<div id="seccion3">
					<div class="subtitulo">
						<h4>Capacitación</h4>
						<ul>
							<li>
								Mayo – Diciembre 2017 Bootcamp “Full Stack / Ruby & Rails.”
								<span class="item_li">Taller intensivo Bootcamp Full Stack en academia de programación Desafío Latam con una duración de 32 semanas de clases. Conocimientos adquiridos Git, GitHub, Ruby, Rails 5.1, PostgreSQL, HTML5, CSS3, Bootstrap. Programación front end JavaScript, Ajax y APIs Rest</span>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script type="text/javascript">

		window.onload = function(){
			document.getElementById("seccion2").style.display = 'none';
			document.getElementById("seccion3").style.display = 'none';
		}

		function MyChangeElement(number){
			for (var i = 1; i < 4; i++){
				if (i == number){
					document.getElementById("seccion" + i).style.display = 'block';
				}
				else{
					document.getElementById("seccion" + i).style.display = 'none';
				}
				var activar_boton = document.getElementById("boton" + i);

				if ( i == number ) {
					if (activar_boton.classList.contains("btn-secondary")){
						activar_boton.classList.toggle ("btn-primary");
						activar_boton.classList.toggle ("btn-secondary");
					}
				}
				else
				{
					if (activar_boton.classList.contains("btn-primary")){
						activar_boton.classList.remove("btn-primary");
						activar_boton.classList.add("btn-secondary");
					}
				}
			}
		}
	</script>
{% endblock%}
